USE [master]
GO
/****** Object:  Database [Library]    Script Date: 03/04/48 04:50:42 م ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 03/04/48 04:50:43 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Book_ID] [int] IDENTITY(1,1) NOT NULL,
	[Titel] [nvarchar](100) NOT NULL,
	[Auther] [nvarchar](200) NOT NULL,
	[ISBN] [nvarchar](50) NOT NULL,
	[PublictionDate] [date] NULL,
	[AddtionNotes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Book_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BorrowingRecods]    Script Date: 03/04/48 04:50:43 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowingRecods](
	[borrow_Book] [int] IDENTITY(1,1) NOT NULL,
	[BorrowDate] [date] NULL,
	[ReturnDate] [date] NULL,
	[DueDate] [date] NULL,
	[Copy_ID] [int] NOT NULL,
	[Usr_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[borrow_Book] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CopyBook]    Script Date: 03/04/48 04:50:43 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CopyBook](
	[Copy_ID] [int] IDENTITY(1,1) NOT NULL,
	[book_Id] [int] NOT NULL,
	[AvibleStatues] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Copy_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fine]    Script Date: 03/04/48 04:50:43 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fine](
	[Fine_ID] [int] IDENTITY(1,1) NOT NULL,
	[FineAmount] [decimal](18, 0) NOT NULL,
	[NumberDayOfLate] [smallint] NOT NULL,
	[PaymentStatues] [bit] NOT NULL,
	[Usr_ID] [int] NULL,
	[Borrow_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Fine_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 03/04/48 04:50:43 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[Reservation_ID] [int] IDENTITY(1,1) NOT NULL,
	[Reservation_Date] [date] NULL,
	[Usr_ID] [int] NOT NULL,
	[Copy_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Reservation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Setting]    Script Date: 03/04/48 04:50:43 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[DefaultBorrowDay] [tinyint] NOT NULL,
	[DefaultFinePerDay] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03/04/48 04:50:43 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[LibraryCard] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT (getdate()) FOR [PublictionDate]
GO
ALTER TABLE [dbo].[BorrowingRecods] ADD  DEFAULT (getdate()) FOR [BorrowDate]
GO
ALTER TABLE [dbo].[Fine] ADD  DEFAULT ((0)) FOR [PaymentStatues]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT (getdate()) FOR [Reservation_Date]
GO
ALTER TABLE [dbo].[BorrowingRecods]  WITH CHECK ADD FOREIGN KEY([Copy_ID])
REFERENCES [dbo].[CopyBook] ([Copy_ID])
GO
ALTER TABLE [dbo].[BorrowingRecods]  WITH CHECK ADD FOREIGN KEY([Usr_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[CopyBook]  WITH CHECK ADD FOREIGN KEY([book_Id])
REFERENCES [dbo].[Book] ([Book_ID])
GO
ALTER TABLE [dbo].[Fine]  WITH CHECK ADD FOREIGN KEY([Borrow_ID])
REFERENCES [dbo].[BorrowingRecods] ([borrow_Book])
GO
ALTER TABLE [dbo].[Fine]  WITH CHECK ADD FOREIGN KEY([Usr_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([Copy_ID])
REFERENCES [dbo].[CopyBook] ([Copy_ID])
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([Usr_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
USE [master]
GO
