USE [master]
GO
/****** Object:  Database [Library]    Script Date: 05/04/48 05:54:59 م ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 05/04/48 05:54:59 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Book_ID] [int] IDENTITY(1,1) NOT NULL,
	[Titel] [nvarchar](100) NOT NULL,
	[Auther] [nvarchar](200) NOT NULL,
	[ISBN] [nvarchar](50) NOT NULL,
	[PublictionDate] [date] NULL,
	[AddtionNotes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Book_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BorrowingRecods]    Script Date: 05/04/48 05:54:59 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowingRecods](
	[borrow_Book] [int] IDENTITY(1,1) NOT NULL,
	[BorrowDate] [date] NULL,
	[ReturnDate] [date] NULL,
	[DueDate] [date] NULL,
	[Copy_ID] [int] NOT NULL,
	[Usr_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[borrow_Book] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CopyBook]    Script Date: 05/04/48 05:54:59 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CopyBook](
	[Copy_ID] [int] IDENTITY(1,1) NOT NULL,
	[book_Id] [int] NOT NULL,
	[AvibleStatues] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Copy_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fine]    Script Date: 05/04/48 05:54:59 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fine](
	[Fine_ID] [int] IDENTITY(1,1) NOT NULL,
	[FineAmount] [decimal](18, 0) NOT NULL,
	[NumberDayOfLate] [smallint] NOT NULL,
	[PaymentStatues] [bit] NOT NULL,
	[Usr_ID] [int] NULL,
	[Borrow_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Fine_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 05/04/48 05:54:59 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[Reservation_ID] [int] IDENTITY(1,1) NOT NULL,
	[Reservation_Date] [date] NULL,
	[Usr_ID] [int] NOT NULL,
	[Copy_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Reservation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Setting]    Script Date: 05/04/48 05:54:59 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[DefaultBorrowDay] [tinyint] NOT NULL,
	[DefaultFinePerDay] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05/04/48 05:54:59 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[LibraryCard] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([Book_ID], [Titel], [Auther], [ISBN], [PublictionDate], [AddtionNotes]) VALUES (2, N'C++', N'Ahmed', N'978-134455', CAST(N'2025-03-05' AS Date), N'Good')
INSERT [dbo].[Book] ([Book_ID], [Titel], [Auther], [ISBN], [PublictionDate], [AddtionNotes]) VALUES (3, N'C#', N'Ahmed', N'978-2354455', CAST(N'2022-09-08' AS Date), NULL)
INSERT [dbo].[Book] ([Book_ID], [Titel], [Auther], [ISBN], [PublictionDate], [AddtionNotes]) VALUES (4, N'JavaScrpt', N'Wael', N'978-256754455', CAST(N'2016-05-07' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[BorrowingRecods] ON 

INSERT [dbo].[BorrowingRecods] ([borrow_Book], [BorrowDate], [ReturnDate], [DueDate], [Copy_ID], [Usr_ID]) VALUES (1, CAST(N'2026-08-01' AS Date), CAST(N'2026-08-14' AS Date), CAST(N'2026-08-15' AS Date), 1, 4)
INSERT [dbo].[BorrowingRecods] ([borrow_Book], [BorrowDate], [ReturnDate], [DueDate], [Copy_ID], [Usr_ID]) VALUES (2, CAST(N'2026-09-10' AS Date), NULL, CAST(N'2026-09-24' AS Date), 2, 4)
INSERT [dbo].[BorrowingRecods] ([borrow_Book], [BorrowDate], [ReturnDate], [DueDate], [Copy_ID], [Usr_ID]) VALUES (3, CAST(N'2026-08-10' AS Date), NULL, CAST(N'2026-08-24' AS Date), 7, 2)
SET IDENTITY_INSERT [dbo].[BorrowingRecods] OFF
GO
SET IDENTITY_INSERT [dbo].[CopyBook] ON 

INSERT [dbo].[CopyBook] ([Copy_ID], [book_Id], [AvibleStatues]) VALUES (1, 2, 1)
INSERT [dbo].[CopyBook] ([Copy_ID], [book_Id], [AvibleStatues]) VALUES (2, 3, 1)
INSERT [dbo].[CopyBook] ([Copy_ID], [book_Id], [AvibleStatues]) VALUES (3, 4, 0)
SET IDENTITY_INSERT [dbo].[CopyBook] OFF
GO
SET IDENTITY_INSERT [dbo].[Fine] ON 

INSERT [dbo].[Fine] ([Fine_ID], [FineAmount], [NumberDayOfLate], [PaymentStatues], [Usr_ID], [Borrow_ID]) VALUES (1, CAST(25 AS Decimal(18, 0)), 2, 1, 4, 2)
INSERT [dbo].[Fine] ([Fine_ID], [FineAmount], [NumberDayOfLate], [PaymentStatues], [Usr_ID], [Borrow_ID]) VALUES (2, CAST(40 AS Decimal(18, 0)), 7, 1, 3, 2)
INSERT [dbo].[Fine] ([Fine_ID], [FineAmount], [NumberDayOfLate], [PaymentStatues], [Usr_ID], [Borrow_ID]) VALUES (3, CAST(10 AS Decimal(18, 0)), 1, 0, 2, 3)
SET IDENTITY_INSERT [dbo].[Fine] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([Reservation_ID], [Reservation_Date], [Usr_ID], [Copy_ID]) VALUES (1, CAST(N'2026-09-09' AS Date), 4, 3)
INSERT [dbo].[Reservations] ([Reservation_ID], [Reservation_Date], [Usr_ID], [Copy_ID]) VALUES (2, CAST(N'2026-09-18' AS Date), 4, 2)
INSERT [dbo].[Reservations] ([Reservation_ID], [Reservation_Date], [Usr_ID], [Copy_ID]) VALUES (3, CAST(N'2026-09-29' AS Date), 3, 6)
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
INSERT [dbo].[Setting] ([DefaultBorrowDay], [DefaultFinePerDay]) VALUES (14, 5)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_ID], [Name], [Email], [phone], [LibraryCard]) VALUES (1, N'Ismail', N'ww@gmail.com', N'7739484', N'asm772')
INSERT [dbo].[Users] ([User_ID], [Name], [Email], [phone], [LibraryCard]) VALUES (2, N'Mohmed', N'adm@gmail.com', N'77345', N'bad772')
INSERT [dbo].[Users] ([User_ID], [Name], [Email], [phone], [LibraryCard]) VALUES (3, N'Saeed', N'Mdose@gmail.com', N'7739228', N'boq12')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT (getdate()) FOR [PublictionDate]
GO
ALTER TABLE [dbo].[BorrowingRecods] ADD  DEFAULT (getdate()) FOR [BorrowDate]
GO
ALTER TABLE [dbo].[Fine] ADD  DEFAULT ((0)) FOR [PaymentStatues]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT (getdate()) FOR [Reservation_Date]
GO
ALTER TABLE [dbo].[BorrowingRecods]  WITH CHECK ADD FOREIGN KEY([Copy_ID])
REFERENCES [dbo].[CopyBook] ([Copy_ID])
GO
ALTER TABLE [dbo].[BorrowingRecods]  WITH CHECK ADD FOREIGN KEY([Usr_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[CopyBook]  WITH CHECK ADD FOREIGN KEY([book_Id])
REFERENCES [dbo].[Book] ([Book_ID])
GO
ALTER TABLE [dbo].[Fine]  WITH CHECK ADD FOREIGN KEY([Borrow_ID])
REFERENCES [dbo].[BorrowingRecods] ([borrow_Book])
GO
ALTER TABLE [dbo].[Fine]  WITH CHECK ADD FOREIGN KEY([Usr_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([Copy_ID])
REFERENCES [dbo].[CopyBook] ([Copy_ID])
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([Usr_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
USE [master]
GO
